# Build
/build/

# Composer
/composer.lock
/vendor/

# Composer bin plugin
/vendor-bin/**/vendor

# Eclipse
/.buildpath
/.project
/.settings

# Node.js
/node_modules/

# PHPLint
/.phplint-cache

# wp-env
/.wp-env.override.json

# WordPress
/wordpress/
/wp-content/
