<?xml version="1.0"?>

<ruleset name="WordPress Pay Gateway: Adyen rules">
	<file>.</file>

	<exclude-pattern>tests/bootstrap.php</exclude-pattern>
	<exclude-pattern>tests/wp-config.php</exclude-pattern>

	<rule ref="VariableAnalysis"/>

	<rule ref="PronamicWP">
		<exclude name="WordPress.DB.SlowDBQuery.slow_db_query_meta_key"/>

		<exclude name="WordPress.Files.FileName.InvalidClassFileName"/>
		<exclude name="WordPress.Files.FileName.NotHyphenatedLowercase"/>

		<exclude name="WordPress.Security.SafeRedirect.wp_redirect_wp_redirect"/>

		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.file_ops_fwrite" />
		<exclude name="WordPressVIPMinimum.Functions.RestrictedFunctions.wp_remote_get_wp_remote_get" />
		<exclude name="WordPressVIPMinimum.Performance.FetchingRemoteData.FileGetContentsUnknown" />
	</rule>

	<rule ref="VariableAnalysis.CodeAnalysis.VariableAnalysis.UndefinedVariable">
		<exclude-pattern>views/checkout-drop-in.php</exclude-pattern>
		<exclude-pattern>views/checkout-web-sdk.php</exclude-pattern>
	</rule>

	<rule ref="WordPress.PHP.DiscouragedPHPFunctions.runtime_configuration_putenv">
		<exclude-pattern>tests/bootstrap.php</exclude-pattern>
	</rule>
</ruleset>
